@import 'buttons';
@import 'userProfileStyle';


.modal-content {
  background-color: white;
  top: 100px;
  position: relative;
  height: fit-content;
  margin: 0 auto;
  z-index: 9995;
}

.modal-content .additional-info {
  grid-row: 4;
  grid-column: 1/span 2;
  margin-top: 1em;
}

.modal-overlay {
  position: fixed;
  display: flex;
  overflow: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  cursor: pointer;
  height: 100vh;
}

.modal-buttons {
  place-self: flex-end;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


@media (min-width: 767px) {
  .modal-content .profile {
    max-width: 50vw;
  }

  .close-modal-button {
    top: 30px !important;
    right: 50px;
  }

  .modal-content {
    width: fit-content;
  }
}