/*********************HOME*********************/

.home-header {
  background-image: url(../images/couple-wedding.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}

.home-content {
  display: flex;
  flex-direction: column;
  background-color: #fcf5c7;
}

.home-logo {
  max-width: 150px;
  justify-self: center;
  margin-top: 1.5em;
  margin-bottom: 5em;
  padding: 1.2em;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
}

.home-text {
  z-index: 9998;
  margin: 3em 1% -2.3em 1%;
  padding: 1.5em 2em 1em 4em;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.9);
}

.home-text p {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

.home-text h2 {
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.home-logo {
  place-self: center;
}

.home-profile-photos {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 105px 105px;
  position: relative;
  background-position: center 160px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 7;
  justify-content: center;
  margin-bottom: 2em;

}

.home-profile-photos img {
  min-width: 90px;
  border-radius: 3px;
}

.home-button {
  align-self: center;
  max-width: 250px;
  z-index: 9999;
  grid-row: 4;
  place-self: center;
  margin-bottom: 2em;

}

@media (min-width: 767px) {
  .home-logo {
    max-width: 300px;
    margin-top: 10em;
  }

  .home-text {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2em 2em 3em 4em;
    margin-top: 3em;
  }

  .home-text p {
    font-size: 1.7em;
    font-weight: 600;
    padding-bottom: 1.5em;
  }

  .home-content {
    height: 100%;

  }

  .home-text h3 {
    padding-bottom: 2em;
  }

  .home-profile-photos {
    width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto auto;
    padding-bottom: 2em;
    padding-top: 2em;
  }
}